.list-group-item {
  line-height: 2.5;
}

#navigation {
  margin-top: 10px;
}

.btn {
  background-color: #91171f;
  border-color: black;
  /* #5B0082, #600047, #44001A, #EDC421 */

}

.btn-secondary {
  float: right;
}

#game-rules {
  margin-top: 10px;
}

.card {
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.nav-link {
  color: #91171f;
}

.nav-link:hover {
  color: black;
}

.btn-primary:hover {
  background-color: darkgrey;
  border-color: black;
}

.btn-primary:active {
  background-color: lightgray;
}

/* .jumbotron {
  background-image: url("../../assets/images/1655690781_8bc3b3bd-4a79-4ff6-860e-4bafb4a8e1da.jpg");
  background-size: cover;

} */


